{% extends 'base.html' %}
{% block content %}
      <!-- about -->
      <div  class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>About Us</h2>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="about_img">
                        <div class="about_box">
                           <h3>Our integrated business model spans all areas of the property development life-cycle.</h3>
                           <p>It’s our goal to create value through property. But even more than that, our ambition is to enrich lives; bringing to bear all of our skills to help our clients achieve their dreams, and build secure futures.</p>
                           <a class="read_more">Read More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
{% endblock %}      
