{% extends 'base.html' %}
{% block content %}     
      <!-- testimonial -->
      <div class="testimonial">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Testimonial</h2>
                     <p>A Fresh Chapter: Making New Memories in our dream home with our loved ones.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-6 margin_boot">
                                       <div class="test_box">
                                          <i><img src="{{tdata[0]['ImgURL']}}" alt="#"/></i>
                                          <h4>{{tdata[0]['CustName']}}</h4>
                                          <span>{{tdata[0]['TestimonialTitle']}}</span>
                                          <p>{{tdata[0]['Testimonial']}}</p>
                                       </div>
                                    </div>
                                    <div class="col-md-6 margin_boot">
                                       <div class="test_box">
                                          <i><img src="{{tdata[1]['ImgURL']}}" alt="#"/></i>
                                          <h4>{{tdata[1]['CustName']}}</h4>
                                          <span>{{tdata[1]['TestimonialTitle']}}</span>
                                          <p>{{tdata[1]['Testimonial']}}</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-6 margin_boot">
                                       <div class="test_box">
                                          <i><img src="{{tdata[2]['ImgURL']}}" alt="#"/></i>
                                          <h4>{{tdata[2]['CustName']}}</h4>
                                          <span>{{tdata[2]['TestimonialTitle']}}</span>
                                          <p>{{tdata[2]['Testimonial']}}</p>
                                       </div>
                                    </div>
                                    <div class="col-md-6 margin_boot">
                                       <div class="test_box">
                                          <i><img src="{{tdata[3]['ImgURL']}}" alt="#"/></i>
                                          <h4>{{tdata[3]['CustName']}}</h4>
                                          <span>{{tdata[3]['TestimonialTitle']}}</span>
                                          <p>{{tdata[3]['Testimonial']}}</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-6 margin_boot">
                                       <div class="test_box">
                                          <i><img src="{{tdata[4]['ImgURL']}}" alt="#"/></i>
                                          <h4>{{tdata[4]['CustName']}}</h4>
                                          <span>{{tdata[4]['TestimonialTitle']}}</span>
                                          <p>{{tdata[4]['Testimonial']}}</p>
                                       </div>
                                    </div>
                                    <div class="col-md-6 margin_boot">
                                       <div class="test_box">
                                          <i><img src="{{tdata[5]['ImgURL']}}" alt="#"/></i>
                                          <h4>{{tdata[5]['CustName']}}</h4>
                                          <span>{{tdata[5]['TestimonialTitle']}}</span>
                                          <p>{{tdata[5]['Testimonial']}}</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end testimonial -->
{% endblock %}
